* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}
.inviteInfo .container {
  margin: 0 auto;
  width: 1200px;
  height: 350px;
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
  border: 1px solid #e13427;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: #fff9f3;
}
.inviteInfo .image_container {
  width: 40%;
  height: 350px;
  border-right: 1px solid;
  float: left;
}
.inviteInfo .info_container {
  width: 60%;

  height: 350px;
  float: right;
}
.inviteInfo .img {
  width: 400px;
  height: 300px;
}
.inviteInfo .title {
  width: 95%;
  height: 60px;
  margin-left: 25px;
}
.inviteInfo .title_text {
  font-size: 18px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #e13427;
  display: 'block';
  text-decoration: underline;
  text-transform: uppercase;
}
.inviteInfo .sub_info {
  width: 95%;
  height: 60px;
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.inviteInfo .price_text {
  color: #16c784;
  font-size: 24px;
  font-weight: 700;
}
.inviteInfo .size_text {
  color: #333;
  line-height: 24px;
  font-size: 19px;
}
.inviteInfo .district_text {
  color: #333;
  line-height: 24px;
  font-size: 19px;
  margin-right: 80px;
}
.inviteInfo .description_container {
  width: 95%;
  height: 75px;
  margin-left: 25px;
}
.inviteInfo .description_text {
  display: block;
  width: inherit;
  height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;

  /* white-space: pre-wrap; current browsers */
  /* text-overflow: ellipsis; */
  color: #8a8d91;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.inviteInfo .contact_container {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 105px;

}
.inviteInfo .avt_img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.inviteInfo .owner_name {
  color: #8a8d91;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}
