.slider .slide img{
  height: 330px;
  width: 500px;
}

.slider{
  display: block;
  height: 330px;
  width: 500px;

}

.slider .slide{
  height: 330px;
  width: 500px;
  position: relative;
}

.slider .slide .content{
  display: flex;
  overflow: hidden;
  transition: 1s;

}


.slider .but{
  display: flex;
  justify-content: space-between;
}

.slider .but .pre{
  display: flex;
  width: 50px;
  height: 36px;
  /* background-color:rgba(255, 0, 0, 0.425); */
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;

}

.slider .but img{
  width: 100%;
  object-fit: cover;
}

.slider .but .next{
  width: 50px;
  height: 36px;
  /* background-color: rgba(255, 0, 0, 0.329); */
  display: flex;
  /* position: absolute; */
  transform: scaleX(-1);
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;

}


.slider .but *:hover{
  /* background-color: rgba(255, 0, 0, 0.616); */
}

.slider .but *:active{
  /* background-color: rgb(255, 61, 61); */
  background-color: rgba(255, 255, 255, 0.678);
}

.slider img{
 width: 500px;
 height: 300px
/* user-drag: none; */

}



